@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
@using bytme.Models;

<!DOCTYPE html>
<html>
<head>
    <style>
        .brand-centered {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }

            .brand-centered .navbar-brand {
                display: flex;
                align-items: center;
            }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/sayos_icon_head.png" />
    <title>@ViewData["Title"] - Sayos</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <nav class="navbar sticky-top" style="background-color: #fff; left:30px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: #000;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <div class="brand-centered">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img style="margin-right: 10px; padding: 0; width:150px" src="~/images/sayos_new.png"  alt="Sayos">
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <div class="navbar-left" style="margin-top:10px; margin-left:15px;">
                        @using (Html.BeginForm())
                        {
                            <ul class="nav navbar-nav">
                                <li><input placeholder="Search.." type=@Html.TextBox("SearchString")</li>
                                <li>
                                    <button type="submit" class="btn-btn default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </li>
                            </ul>
                        }
                    </div>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><span style="color:black;" class="glyphicon glyphicon-heart-empty"></span></a></li>
                            <li><a href="#"><span style="color:black;" class="glyphicon glyphicon-shopping-cart"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Women" style="color:#000;">Women</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Men" style="color:#000;">Men</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>
</body>
</html>
<hr />
<<footer class="container text-center text-md-left">
    <div class="container">
        <div class="col-sm-12">
            <ul class="parsys justify-content-center justify-content-md-start dbk-footer--payment d-flex flex-wrap list-inline mb-4">
                <li class="paymentitem list-inline-item">
                    <div class="mr-2 mb-4">
                        <svg width="24" height="21" viewBox="0 0 24 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <path id="a1" d="M0 20.903h23.976V.001H0z"></path>
                            </defs>
                            <g fill="none" a="evenodd">
                                <path fill="#0A0A08" d="M2.665 18.147h3.842v-6.38H2.665z"></path>
                                <mask id="b1" fill="#fff">
                                    <use xlink:href="#a1"></use>
                                </mask>
                                <path d="M6.797 8.578a2.175 2.175 0 1 1-4.35 0 2.175 2.175 0 0 1 4.35 0" fill="#0A0A08" mask="url(#b1)"></path>
                                <path d="M13.524 1.39c2.671 0 4.898.723 6.439 2.093 1.741 1.548 2.625 3.893 2.625 6.97 0 6.1-2.965 9.064-9.064 9.064H1.388V1.39h12.136zm.26-1.39H0v20.905h13.784v-.004c3.012-.041 5.397-.79 7.09-2.23 2.058-1.75 3.102-4.516 3.102-8.219 0-1.77-.275-3.357-.816-4.718-.518-1.302-1.283-2.409-2.275-3.29-1.747-1.552-4.198-2.392-7.1-2.44V.002z" fill="#0A0A08" mask="url(#b1)"></path>
                                <path d="M13.144 18.154H8.271V3.08h4.873-.196c4.064 0 8.39 1.604 8.39 7.557 0 6.294-4.326 7.517-8.39 7.517h.196" fill="#B9215E"></path>
                                <path d="M8.162 7.586v2.397h.548c.205 0 .353-.011.444-.034a.679.679 0 0 0 .297-.15c.078-.072.142-.188.192-.35.05-.162.074-.383.074-.663s-.025-.495-.074-.645a.828.828 0 0 0-.209-.35.7.7 0 0 0-.34-.17c-.102-.024-.303-.035-.602-.035h-.33zm-.73-.615h1.337c.302 0 .532.023.69.07.213.062.395.173.547.333.151.16.267.356.346.588.08.232.119.518.119.857 0 .299-.037.556-.112.772a1.6 1.6 0 0 1-.388.641c-.127.124-.298.22-.514.29a2.213 2.213 0 0 1-.648.076H7.43V6.971z" fill="#FFF"></path>
                                <path d="M8.77 7.07c.29 0 .513.022.661.066.195.057.364.16.503.307.14.148.25.334.324.551.075.22.114.498.114.825 0 .286-.036.535-.106.74-.085.248-.208.45-.364.602a1.196 1.196 0 0 1-.476.266 2.13 2.13 0 0 1-.617.072H7.53V7.07h1.24zm-1.438-.198v3.825h1.477c.279 0 .507-.027.678-.08a1.39 1.39 0 0 0 .553-.314c.179-.173.318-.402.413-.68.078-.225.117-.496.117-.804 0-.349-.042-.648-.124-.889a1.69 1.69 0 0 0-.368-.624 1.316 1.316 0 0 0-.59-.36c-.17-.05-.405-.074-.719-.074H7.332z" fill="#FFF"></path>
                                <path d="M8.492 7.685c.362 0 .516.018.581.032.12.026.218.075.293.146a.735.735 0 0 1 .183.31c.046.139.069.345.069.613 0 .269-.024.482-.07.634a.678.678 0 0 1-.164.305.584.584 0 0 1-.254.128 1.934 1.934 0 0 1-.42.031h-.448V7.685h.23zm-.429-.198v2.596h.647c.216 0 .369-.013.469-.038a.779.779 0 0 0 .338-.173c.093-.084.165-.213.22-.394.053-.173.08-.4.08-.692 0-.293-.027-.514-.08-.676a.928.928 0 0 0-.235-.391.8.8 0 0 0-.386-.195c-.11-.025-.315-.037-.624-.037h-.429zm3.235 3.111V6.971h2.685v.615H12.03v.803h1.817v.615H12.03v.98h2.023v.614h-2.755" fill="#FFF"></path>
                                <path d="M13.884 7.07v.417h-1.953v1.001h1.817v.417H11.93v1.178h2.023v.416h-2.556V7.07h2.486zM11.2 6.872v3.825h2.953v-.813H12.13v-.78h1.817V8.29H12.13v-.605h1.954v-.813H11.2zm5.6 2.288l-.5-1.343-.49 1.343h.99zm1.349 1.438h-.797l-.316-.823h-1.45l-.3.823h-.777l1.41-3.627h.78l1.45 3.627z" fill="#FFF"></path>
                                <path d="M16.631 7.07l1.371 3.43h-.582l-.316-.824h-1.587l-.3.823h-.563l1.333-3.429h.644zm-.78-.198l-1.487 3.825h.992l.3-.823h1.311l.317.823h1.011l-1.53-3.825h-.914z" fill="#FFF"></path>
                                <path d="M16.301 8.103l.357.958h-.706l.35-.958zM15.67 9.26h1.274L16.3 7.53l-.631 1.73zm3.09 1.338V7.001h.732v2.982h1.822v.615h-2.553" fill="#FFF"></path>
                                <path d="M19.393 7.1v2.983h1.822v.416H18.86V7.1h.533zm-.732-.198v3.795h2.753v-.813H19.59V6.902h-.93z" fill="#FFF"></path>
                            </g>
                        </svg>
                    </div>
                </li>
                <li class="paymentitem list-inline-item">
                    <div class="mr-2 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="108.75" height="20" viewBox="5.167 0 87 16.036">
                            <path fill="none" d="M-.667-3.46h100v22.958h-100z"></path>
                            <path fill="#FF5F00" d="M15.334 2.11h6.576v11.817h-6.576z"></path>
                            <path fill="#EB001B" d="M15.753 8.017a7.503 7.503 0 0 1 2.87-5.908c-3.263-2.566-7.987-2-10.552 1.265a7.515 7.515 0 0 0 10.554 10.553 7.504 7.504 0 0 1-2.87-5.91z"></path>
                            <path fill="#F79E1B" d="M30.783 8.017a7.516 7.516 0 0 1-12.158 5.91 7.515 7.515 0 0 0-.002-11.819 7.516 7.516 0 0 1 12.16 5.909z"></path>
                            <path d="M43.712 10.55V7.416c0-1.182-.754-1.977-1.967-1.987a1.935 1.935 0 0 0-1.756.89 1.84 1.84 0 0 0-1.652-.89 1.652 1.652 0 0 0-1.46.743v-.626H35.79v5.002h1.098V7.776c0-.87.48-1.328 1.223-1.328s1.09.47 1.09 1.317v2.782h1.084V7.776c0-.87.5-1.328 1.224-1.328.722 0 1.098.47 1.098 1.317v2.782h1.106zm16.25-5h-1.776V4.035h-1.1V5.55h-1.014v.993h1.014v2.28c0 1.16.45 1.852 1.736 1.852.48.002.95-.132 1.357-.386l-.313-.932c-.29.174-.623.27-.963.28-.543 0-.723-.333-.723-.834V6.542h1.778l.003-.99zm9.274-.124a1.47 1.47 0 0 0-1.316.732V5.55h-1.078v5h1.088V7.745c0-.835.355-1.286 1.066-1.286.234-.003.465.04.682.126l.334-1.025a2.32 2.32 0 0 0-.775-.136v.002zm-14.023.523a3.698 3.698 0 0 0-2.04-.523c-1.265 0-2.087.607-2.087 1.6 0 .815.607 1.317 1.725 1.474l.513.074c.596.083.88.24.88.52 0 .388-.397.608-1.142.608-.6.02-1.187-.164-1.67-.52l-.51.847c.634.44 1.392.67 2.165.647 1.44 0 2.28-.68 2.28-1.63 0-.88-.66-1.338-1.745-1.495l-.512-.073c-.47-.063-.848-.157-.848-.49 0-.366.354-.585.95-.585a3.2 3.2 0 0 1 1.558.428l.485-.884zm29.133-.524a1.47 1.47 0 0 0-1.316.732V5.55h-1.078v5h1.088V7.745c0-.835.355-1.286 1.066-1.286.232-.003.465.04.682.126l.334-1.025a2.337 2.337 0 0 0-.775-.136v.002zM70.336 8.05c0 1.516 1.057 2.624 2.666 2.624a2.612 2.612 0 0 0 1.797-.597l-.522-.88a2.194 2.194 0 0 1-1.307.45c-.868 0-1.505-.64-1.505-1.6 0-.96.64-1.59 1.506-1.6.474.006.93.163 1.308.45l.52-.88a2.618 2.618 0 0 0-1.796-.598c-1.61 0-2.666 1.108-2.666 2.624v.006zm10.184 0V5.544h-1.088v.608a1.903 1.903 0 0 0-1.568-.73c-1.4 0-2.506 1.1-2.506 2.626s1.1 2.624 2.506 2.624a1.895 1.895 0 0 0 1.578-.732v.607h1.088l-.01-2.497zm-4.047 0c0-.88.574-1.6 1.516-1.6.9 0 1.505.69 1.505 1.6s-.605 1.6-1.506 1.6c-.943 0-1.517-.723-1.517-1.6zm-13.12-2.627c-1.462 0-2.49 1.067-2.49 2.625 0 1.59 1.067 2.624 2.563 2.624a3.044 3.044 0 0 0 2.05-.7l-.532-.808c-.416.333-.93.517-1.463.522-.7 0-1.337-.323-1.493-1.223H65.7c.01-.137.02-.27.02-.418 0-1.558-.973-2.625-2.373-2.625l.005.003zm-.023.974c.703 0 1.15.438 1.266 1.213h-2.6c.115-.722.555-1.213 1.328-1.213h.006zm27.283 1.65V3.543h-1.088v2.614a1.896 1.896 0 0 0-1.578-.733c-1.4 0-2.506 1.1-2.506 2.625s1.1 2.624 2.507 2.624c.613.026 1.2-.247 1.578-.732v.607h1.088v-2.5zm-4.047 0c0-.878.574-1.6 1.516-1.6.9 0 1.506.692 1.506 1.6s-.605 1.6-1.506 1.6c-.94 0-1.516-.722-1.516-1.6zm-36.723 0V5.543h-1.087v.608a1.904 1.904 0 0 0-1.583-.727c-1.4 0-2.505 1.1-2.505 2.625s1.098 2.624 2.505 2.624a1.901 1.901 0 0 0 1.58-.732v.607h1.086l.003-2.5zm-4.045 0c0-.878.574-1.6 1.516-1.6.9 0 1.505.692 1.505 1.6s-.608 1.6-1.506 1.6c-.946.002-1.52-.72-1.52-1.597l.004-.002z"></path>
                        </svg>
                    </div>
                </li>
                <li class="paymentitem list-inline-item">
                    <div class="mr-2 mb-4">
                        <svg width="60" height="20" viewBox="0 0 60 20" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                                <path fill="#005B9C" d="M25.968 19.42H21.1L24.142.726h4.867L25.968 19.42M17.007.728l-4.64 12.856-.549-2.769.001.001-1.638-8.405S9.984.728 7.873.728H.202l-.09.316s2.346.488 5.09 2.137L9.43 19.419h5.071L22.244.727h-5.237m32.923 12.08l2.557-6.995 1.438 6.995H49.93zm5.355 6.612h4.468L55.857.727h-3.913c-1.806 0-2.246 1.393-2.246 1.393l-7.258 17.3h5.073l1.015-2.777h6.186l.57 2.776zM42.821 5.223l.694-4.015S41.372.393 39.138.393c-2.415 0-8.15 1.056-8.15 6.188 0 4.83 6.731 4.89 6.731 7.425s-6.037 2.082-8.029.483l-.724 4.197s2.172 1.055 5.493 1.055 8.331-1.72 8.331-6.399c0-4.86-6.79-5.313-6.79-7.426 0-2.113 4.74-1.841 6.822-.694"></path>
                                <path d="M11.819 10.816l-1.638-8.405S9.984.728 7.873.728H.202l-.09.316S3.8 1.808 7.337 4.67c3.38 2.736 4.483 6.146 4.483 6.146" fill="#EFA03F"></path>
                            </g>
                        </svg>
                    </div>
                </li>
                <li class="paymentitem list-inline-item">
                    <div class="mr-2 mb-4">
                        <svg width="80" height="20" viewBox="0 0 80 20" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M29.814 4.354H25.4a.613.613 0 0 0-.606.518L23.01 16.186a.367.367 0 0 0 .364.424h2.106c.302 0 .559-.219.606-.518l.481-3.051a.612.612 0 0 1 .606-.518h1.396c2.907 0 4.584-1.407 5.022-4.194.198-1.22.009-2.177-.562-2.848-.627-.737-1.74-1.127-3.216-1.127zm.509 4.132c-.242 1.584-1.451 1.584-2.621 1.584h-.666l.467-2.957a.368.368 0 0 1 .363-.31h.306c.796 0 1.548 0 1.936.454.232.27.303.673.215 1.23zm12.68-.051H40.89a.368.368 0 0 0-.364.31l-.093.592-.148-.214c-.457-.664-1.477-.886-2.495-.886-2.335 0-4.33 1.768-4.718 4.249-.202 1.237.085 2.42.787 3.246.644.758 1.566 1.074 2.662 1.074 1.88 0 2.924-1.21 2.924-1.21l-.094.588a.368.368 0 0 0 .363.426h1.903c.302 0 .558-.22.606-.518l1.142-7.232a.366.366 0 0 0-.362-.425zm-2.946 4.113c-.203 1.207-1.162 2.017-2.383 2.017-.614 0-1.104-.197-1.42-.57-.311-.37-.43-.897-.33-1.484.19-1.197 1.164-2.034 2.367-2.034.6 0 1.088.2 1.409.576.322.38.45.91.357 1.495zm14.198-4.113h-2.123a.613.613 0 0 0-.507.27l-2.929 4.313-1.241-4.145a.615.615 0 0 0-.589-.438H44.78a.368.368 0 0 0-.349.487l2.339 6.863-2.199 3.104a.368.368 0 0 0 .3.58h2.12c.202 0 .39-.097.504-.263l7.062-10.193a.368.368 0 0 0-.302-.578z" fill="#253B80"></path>
                                <path d="M61.285 4.354h-4.413a.613.613 0 0 0-.605.518l-1.784 11.314a.367.367 0 0 0 .362.424h2.265c.21 0 .39-.153.423-.362l.506-3.207a.612.612 0 0 1 .606-.518h1.396c2.907 0 4.584-1.407 5.022-4.194.198-1.22.008-2.177-.563-2.848-.626-.737-1.738-1.127-3.215-1.127zm.51 4.132c-.241 1.584-1.451 1.584-2.621 1.584h-.666l.468-2.957a.366.366 0 0 1 .363-.31h.305c.796 0 1.548 0 1.937.454.231.27.302.673.213 1.23zm12.679-.051h-2.112a.366.366 0 0 0-.363.31l-.093.592-.149-.214c-.457-.664-1.476-.886-2.494-.886-2.335 0-4.329 1.768-4.717 4.249-.201 1.237.084 2.42.786 3.246.645.758 1.565 1.074 2.662 1.074 1.88 0 2.924-1.21 2.924-1.21l-.094.588a.368.368 0 0 0 .364.426h1.902c.302 0 .558-.22.605-.518l1.143-7.232a.368.368 0 0 0-.364-.425zm-2.946 4.113c-.202 1.207-1.162 2.017-2.383 2.017-.613 0-1.104-.197-1.42-.57-.311-.37-.429-.897-.33-1.484.19-1.197 1.164-2.034 2.367-2.034.6 0 1.088.2 1.409.576.323.38.45.91.357 1.495zm5.437-7.883l-1.811 11.52a.367.367 0 0 0 .362.425h1.82c.303 0 .56-.219.607-.518L79.728 4.78a.368.368 0 0 0-.362-.425h-2.039a.369.369 0 0 0-.362.31z" fill="#179BD7"></path>
                                <path d="M4.688 18.809l.337-2.143-.751-.018H.684L3.18.834A.204.204 0 0 1 3.382.66h6.05c2.01 0 3.396.418 4.12 1.243.34.387.556.791.66 1.237.11.467.112 1.025.005 1.705l-.008.05v.436l.34.193c.285.151.512.325.686.523.29.331.479.752.558 1.25.082.514.055 1.124-.08 1.815-.154.795-.405 1.487-.743 2.053a4.224 4.224 0 0 1-1.177 1.29c-.45.32-.983.561-1.586.716a7.908 7.908 0 0 1-1.982.23h-.47c-.338 0-.665.12-.921.338a1.426 1.426 0 0 0-.48.857l-.036.193-.596 3.777-.027.139c-.007.044-.02.066-.038.08a.1.1 0 0 1-.062.023H4.688z" fill="#253B80"></path>
                                <path d="M14.87 4.946c-.018.116-.039.234-.062.355-.798 4.098-3.529 5.513-7.016 5.513H6.017a.862.862 0 0 0-.852.73l-.91 5.766-.257 1.634a.454.454 0 0 0 .448.525h3.15c.372 0 .69-.27.748-.639l.03-.16.594-3.762.038-.207a.757.757 0 0 1 .748-.64h.471c3.051 0 5.44-1.238 6.138-4.823.291-1.497.14-2.748-.631-3.627a3.01 3.01 0 0 0-.862-.665z" fill="#179BD7"></path>
                                <path d="M14.035 4.614a6.295 6.295 0 0 0-.776-.173 9.86 9.86 0 0 0-1.565-.114H6.95a.753.753 0 0 0-.747.64l-1.01 6.391-.028.187a.862.862 0 0 1 .852-.73h1.775c3.487 0 6.218-1.417 7.016-5.514.024-.121.044-.24.062-.355a4.254 4.254 0 0 0-.835-.332z" fill="#222D65"></path>
                                <path d="M6.203 4.967a.754.754 0 0 1 .747-.64h4.744a9.86 9.86 0 0 1 1.565.115 6.295 6.295 0 0 1 .955.228c.236.078.454.17.656.276.238-1.514-.002-2.545-.82-3.478C13.147.44 11.518 0 9.434 0H3.382a.865.865 0 0 0-.855.731L.007 16.708a.52.52 0 0 0 .512.602h3.736l.939-5.952 1.009-6.39z" fill="#253B80"></path>
                            </g>
                        </svg>
                    </div>
                </li>
                <li class="paymentitem list-inline-item">
                    <div class="mr-2 mb-4">
                        <svg width="25" height="24" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <radialGradient width="25" height="24" cx="17.541%" cy="17.466%" fx="17.541%" fy="17.466%" r="93.287%" id="a2">
                                    <stop stop-color="#9DD5F6" offset="0%"></stop>
                                    <stop stop-color="#98D3F5" offset="7.11%"></stop>
                                    <stop stop-color="#89CEF3" offset="15.75%"></stop>
                                    <stop stop-color="#70C6EF" offset="25.16%"></stop>
                                    <stop stop-color="#4EBBEA" offset="35.14%"></stop>
                                    <stop stop-color="#23ADE3" offset="45.46%"></stop>
                                    <stop stop-color="#0DA6E0" offset="50%"></stop>
                                    <stop stop-color="#2E77BC" offset="100%"></stop>
                                </radialGradient>
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <path d="M23.88.05H.054v23.913H23.88v-7.892a.904.904 0 0 0 .142-.525c0-.245-.047-.397-.142-.525" fill="url(#a2)"></path>
                                <path d="M2.202 10.398L1.743 9.28l-.455 1.117h.914zm10.097-.445c-.092.056-.2.058-.33.058h-.814v-.622h.824c.117 0 .239.005.318.05.087.04.14.128.14.248 0 .122-.05.22-.138.266zm5.804.445L17.64 9.28l-.461 1.117h.924zM7.285 11.607h-.687l-.002-2.194-.972 2.194h-.588L4.063 9.41v2.196H2.7l-.258-.625H1.05l-.26.625H.062L1.26 8.805h.995l1.139 2.653V8.805h1.093l.876 1.9.806-1.9h1.115v2.802zm2.736 0H7.784V8.805h2.237v.584H8.453v.505h1.53v.574h-1.53v.56h1.568v.579zm3.154-2.047a.789.789 0 0 1-.472.746.777.777 0 0 1 .332.236c.094.14.11.264.11.514v.55h-.675l-.003-.352c0-.169.017-.411-.105-.546-.098-.099-.247-.12-.488-.12h-.72v1.019h-.669V8.805h1.54c.343 0 .595.01.811.134.212.125.34.308.34.62zm1.072 2.047h-.683V8.805h.683v2.802zm7.927 0h-.949l-1.27-2.103v2.103h-1.363l-.26-.625H16.94l-.253.625h-.783c-.326 0-.738-.072-.971-.31-.236-.238-.358-.56-.358-1.07 0-.415.073-.795.36-1.095.217-.224.556-.327 1.018-.327h.648v.6h-.634c-.245 0-.383.037-.516.166-.114.118-.192.341-.192.635 0 .3.06.517.184.658.103.11.29.145.467.145h.3l.944-2.204h1.004l1.134 2.65v-2.65h1.02l1.176 1.951v-1.95h.686v2.8zm-22.12.55h1.144l.258-.622h.578l.257.622h2.252v-.476l.2.478h1.17l.2-.485v.483h5.595l-.002-1.021h.108c.076.002.098.01.098.134v.887h2.894v-.238c.233.125.596.238 1.074.238h1.217l.26-.622h.578l.255.622h2.346v-.59l.355.59h1.88V8.25h-1.86v.461l-.26-.461h-1.91v.461l-.24-.461h-2.578c-.432 0-.81.06-1.117.228V8.25h-1.78v.228c-.195-.173-.46-.228-.756-.228H5.768l-.436 1.009-.448-1.01H2.836v.462l-.225-.461H.865l-.811 1.857v2.05zm24.826 2.067h-1.22c-.122 0-.203.004-.271.05-.07.046-.098.113-.098.202 0 .106.06.178.146.209.071.024.147.032.258.032l.363.01c.367.008.611.071.76.225.027.021.044.045.062.07v-.798zm0 1.847c-.162.238-.48.359-.908.359h-1.294v-.601h1.288c.128 0 .217-.017.271-.07a.246.246 0 0 0 .08-.182.23.23 0 0 0-.082-.186c-.049-.042-.12-.062-.236-.062-.63-.021-1.414.02-1.414-.867 0-.407.259-.834.961-.834h1.334v-.558h-1.24c-.373 0-.645.09-.837.229v-.23H20.97c-.294 0-.638.074-.8.23v-.23h-3.274v.23c-.26-.188-.7-.23-.903-.23h-2.16v.23c-.206-.2-.664-.23-.943-.23h-2.417l-.553.6-.518-.6h-3.61v3.911h3.542l.57-.608.537.608 2.183.002v-.92h.215c.29.005.631-.007.932-.137v1.055h1.801v-1.019h.087c.111 0 .122.005.122.115v.904h5.47c.348 0 .711-.089.912-.25v.25h1.735c.361 0 .714-.05.982-.18v-.729zm-2.671-1.12c.13.136.2.306.2.595 0 .602-.376.884-1.052.884h-1.304v-.601h1.299c.127 0 .217-.017.274-.07a.249.249 0 0 0 .079-.182.24.24 0 0 0-.082-.186c-.051-.042-.122-.062-.239-.062-.626-.021-1.41.02-1.41-.867 0-.407.255-.834.957-.834h1.343v.596h-1.229c-.121 0-.2.005-.268.05-.073.046-.1.113-.1.202 0 .106.062.178.146.209a.77.77 0 0 0 .26.032l.361.01c.364.008.613.071.765.225zm-6.043-.172c-.09.053-.2.057-.33.057h-.814v-.629h.824c.12 0 .239.003.32.05.087.046.139.133.139.253s-.052.216-.139.269zm.405.349c.149.055.27.153.328.235.094.137.108.264.11.511v.556h-.672v-.35c0-.17.016-.419-.108-.55-.098-.1-.247-.124-.491-.124h-.716v1.024h-.673v-2.803h1.546c.34 0 .586.015.806.133.211.127.344.302.344.622a.785.785 0 0 1-.474.746zm.846-1.5h2.235v.579h-1.569v.51h1.53v.571h-1.53v.558l1.569.002v.582h-2.235v-2.803zm-4.519 1.293h-.865v-.714h.873c.242 0 .41.099.41.344 0 .242-.16.37-.418.37zm-1.532 1.254l-1.028-1.142 1.028-1.105v2.247zm-2.656-.33H7.064v-.557h1.47v-.572h-1.47v-.509h1.679l.732.817-.765.822zm5.325-1.294c0 .778-.581.939-1.167.939h-.835v.94H10.73l-.825-.928-.857.928H6.397v-2.803H9.09l.824.919.852-.919h2.14c.531 0 1.129.148 1.129.924z" fill="#FFF"></path>
                            </g>
                        </svg>
                    </div>
                </li>
                <li class="paymentitem list-inline-item">
                    <div class="mr-2 mb-4">
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <radialGradient cx="26.611%" cy="37.536%" fx="26.611%" fy="37.536%" r="70.204%" id="a3">
                                    <stop stop-color="#FFC429" offset="0%"></stop>
                                    <stop stop-color="#F26F23" offset="100%"></stop>
                                </radialGradient>
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <path d="M5.248.032c2.88 0 7.52 1.824 10.592 3.52C19.232 5.44 24 9.248 24 11.872c0 2.784-4.896 6.496-8.16 8.32-2.976 1.632-7.52 3.552-10.496 3.552-.8 0-1.44-.128-1.92-.384C1.088 22.048 0 16.48 0 11.872c0-2.336.288-4.8.832-6.848.64-2.432 1.536-4.032 2.592-4.64C3.872.16 4.48.032 5.248.032" fill="#A6ACB2"></path>
                                <path d="M23.2 11.936c0-1.984-3.744-5.472-7.744-7.68-4.64-2.528-9.888-4-11.616-3.072C1.888 2.272.8 7.712.8 11.936c0 4.256 1.024 9.632 3.04 10.752 1.856 1.024 6.88-.48 11.584-3.104 4.096-2.208 7.776-5.536 7.776-7.648" fill="url(#a3)"></path>
                                <path d="M17.952 13.952l-.032-2.016c0-.448-.16-.64-.512-.64a.704.704 0 0 0-.416.128c-.16.096-.256.16-.32.192l-.032.032v2.272s0 .032-.032.032h-.896s-.032 0-.032-.032v-3.2c0-.064.032-.096.096-.096h.8s.032 0 .032.032v.256s0 .032.032.032h.032l.032-.032c.096-.064.256-.16.352-.192.224-.096.448-.128.64-.128.736 0 1.12.416 1.12 1.216v2.144s0 .032-.032.032l-.832-.032m1.664 0c-.032 0-.032 0 0 0l-.032-4.928c0-.032 0-.032.032-.032.064 0 .544.32.704.48.128.128.192.32.192.48v3.936s0 .032-.032.032h-.864" fill="#FFF"></path>
                                <path d="M9.792 12.288c0 1.184-.768 1.728-1.728 1.728s-1.728-.544-1.728-1.728.768-1.728 1.728-1.728 1.728.544 1.728 1.728zm-.96 0c0-.64-.32-.896-.736-.896s-.736.288-.736.896c0 .576.32.896.736.896.416.032.736-.288.736-.896zm5.472-2.56c0-.032 0-.032-.032-.032-.064 0-.576.32-.704.48a.706.706 0 0 0-.192.48V12.8c0 .928.544 1.216 1.12 1.216.32 0 .544-.032.672-.128.032 0 .064-.032.064-.096v-.608c0-.032 0-.032-.032-.032s-.256.096-.384.096c-.288 0-.48-.128-.48-.608v-1.216c0-.032 0-.032.032-.032h.8c.032 0 .032 0 .032-.032v-.64c0-.064-.032-.096-.096-.096h-.736c-.032 0-.032 0-.032-.032l-.032-.864M2.752 10.752c0-.064.064-.096.096-.096h1.248c1.248 0 1.888.736 1.888 1.696s-.704 1.632-1.888 1.632h-.384c-.032 0-.032 0-.032.032v1.568c0 .032 0 .032-.032.032-.064 0-.576-.32-.704-.48a.706.706 0 0 1-.192-.48v-3.904zm2.304 1.536c0-.416-.256-.8-.96-.8h-.384c-.032 0-.032 0-.032.032v1.536c0 .032 0 .032.032.032h.384c.832 0 .96-.576.96-.8zm7.424-.128c-.192-.128-.448-.192-.672-.224-.032 0-.192-.032-.224-.064-.288-.064-.512-.128-.512-.288 0-.16.16-.256.384-.256a3.6 3.6 0 0 1 1.152.224c.032 0 .064 0 .064-.032v-.64c0-.032-.032-.096-.064-.096a3.415 3.415 0 0 0-1.024-.192c-.448 0-.8.096-1.056.288a.912.912 0 0 0-.384.768c0 .736.608.864 1.184.992.096.032.064.032.096.032.256.064.544.128.544.32a.244.244 0 0 1-.064.16c-.064.064-.192.096-.384.096-.352 0-1.056-.16-1.248-.224-.032 0-.032.032-.032.032v.64c0 .032.032.096.064.096 0 0 .608.192 1.152.192.992 0 1.504-.384 1.504-1.088-.096-.32-.224-.576-.48-.736" fill="#383792"></path>
                                <path d="M6.624 9.792c-.064 0-.128-.032-.128-.128V9.28c0-.096.064-.16.16-.16h2.848c.096 0 .16.064.16.16v.352c0 .096-.032.128-.128.128H6.624v.032zm2.56-1.024c-.032 0-.064 0-.064-.032v-.064c.096-.288.416-1.184.416-1.184.032-.064 0-.128-.064-.16l-.16-.064H9.28c-.032 0-.064 0-.064.032-.064.16-.096.256-.16.416 0 .032-.032.032-.064.032h-.32c-.032 0-.032 0-.064-.032v-.064c.096-.288.16-.512.288-.768.032-.032.064-.128.192-.128h.064c.096.032.224.064.352.096.096.032.192.064.32.096.32.128.32.352.256.576-.032.128-.224.672-.352.992-.032.064-.032.128-.064.16 0 .032-.032.064-.096.064h-.384v.032zm-1.312 0c-.064 0-.064-.064-.064-.096s-.032-1.696-.032-1.92c0-.032 0-.064.032-.064 0 0 .032-.032.064-.032h.448c.032 0 .032 0 .064.032a.1.1 0 0 1 .032.064c0 .224-.032 1.888-.032 1.92 0 0 0 .096-.064.096h-.448zm-1.312 0c-.064 0-.064-.032-.096-.064 0-.032-.032-.096-.064-.16-.128-.32-.288-.832-.352-.992-.064-.224-.064-.48.256-.576.096-.032.224-.064.32-.096.128-.032.256-.064.352-.096h.064c.096 0 .16.064.192.128.128.256.192.48.288.768v.064s-.032.032-.064.032h-.32c-.032 0-.064 0-.064-.032-.064-.16-.096-.288-.16-.416 0 0-.032-.032-.064-.032h-.032l-.16.064c-.064.032-.096.096-.064.16 0 0 .32.896.416 1.184v.064s-.032.032-.064.032c0-.032-.384-.032-.384-.032zm1.504-2.432c-.032 0-.032 0-.064-.032a1.834 1.834 0 0 1-.352-.352s-.032-.032 0-.096c.096-.16.256-.256.384-.384h.064c.128.096.256.224.384.384.032.032.032.064 0 .096a1.834 1.834 0 0 1-.352.352c-.032.032-.032.032-.064.032z" fill="#FFF"></path>
                            </g>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container text-center text-md-left">

        <div class="row">

            <div class="col-md-4 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>
                <p>
                    Sayos is a small start up by students from the Rotterdam University of Applied Sciences.
                </p>

            </div>

            <div class="col-md-2 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

                <ul class="list-unstyled"></ul>

            </div>

            <div class="col-md-2 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">General</h5>

                <ul class="list-unstyled">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="About">FAQ</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Women">Women</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Men">Men</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-2 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Account</h5>

                <ul class="list-unstyled">
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index">Account Information</a>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot Password</a>
                    </li>
                </ul>

            </div>

        </div>

    </div>
    <hr />

    <div class="footer-copyright text-center py-3">
        &copy;
        <script>document.write(new Date().getFullYear())</script> - Sayos
    </div>

</footer>

<footer></footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
