@using Microsoft.AspNetCore.Identity

<style>
    /* Set Dropdown Display to None*/
    nav ul ul {
        display: none;
    }

    /* Display Dropdown on hover*/

    nav ul li:hover > ul {
        display: block;
    }

    ul li {
        display: inline-block;
    }

        ul li a {
            padding: 20px;
        }

            ul li a:hover {
                text-decoration: none;
            }

    nav ul ul {
        background: #222222;
        border-radius: 0px;
        position: absolute;
    }

        nav ul ul li {
            padding: 15px 0;
        }

            nav ul ul li a {
                color: #fff;
                opacity: .5;
            }

                nav ul ul li a:hover {
                    color: #fff;
                    opacity: 1;
                }
</style>

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-nav navbar-default" style="background-color:#F3F3F3;">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="About" style="color:#000;">General Information</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact" style="color:#000;">Contact</a></li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:#000; text-decoration:none;">Logout</button>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-controller="Manage" asp-action="Index">Users</a></li>
                            <li><a asp-controller="Manage" asp-action="Products">Products</a></li>
                            <li><a asp-controller="Statistics" asp-action="Index">Statistics</a></li>
                        </ul>
                    </li>
                }
            }
        </ul>
    </form>
   
}
else
{
    <ul class="nav navbar-nav navbar-default" style="background-color:#F3F3F3; ">
        <li><a asp-area="" asp-controller="Home" asp-action="About" style="color:#000;text-align:left;">General Information</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact" style="color:#000;">Contact</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Register" style="color:#000;">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" style="color:#000;">Login</a></li>
    </ul>
}