
*.lock
.vs/bytme/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide-wal
*.ide
*.ide-shm
*.ide-wal
.vs/bytme/v15/sqlite3/storage.ide
*.ide-wal
*.ide
*.ide-shm
*.ide
.vs/bytme/v15/.suo
*.ide-shm
*.ide
*.config
.vs/bytme/v15/.suo
.vs/bytme/v15/Server/sqlite3/storage.ide-shm
.vs/bytme/v15/sqlite3/storage.ide-wal
*.config
*.config
.vs/bytme/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.pdb
*.json
*.config
*.ide
.vs/bytme/v15/.suo
*.config
.vs/bytme/v15/.suo
*.config
.vs/bytme/v15/.suo
.vs/bytme/v15/sqlite3/storage.ide
.vs/bytme/v15/sqlite3/storage.ide-shm
.vs/bytme/v15/sqlite3/storage.ide-wal
bytme/bin/Debug/netcoreapp2.0/bytme.deps.json
bytme/bin/Debug/netcoreapp2.0/bytme.dll
bytme/bin/Debug/netcoreapp2.0/bytme.pdb
bytme/bin/Debug/netcoreapp2.0/bytme.runtimeconfig.dev.json
bytme/obj/Debug/netcoreapp2.0/bytme.AssemblyInfo.cs
bytme/obj/Debug/netcoreapp2.0/bytme.AssemblyInfoInputs.cache
bytme/obj/Debug/netcoreapp2.0/bytme.csproj.CoreCompileInputs.cache
bytme/obj/Debug/netcoreapp2.0/bytme.csprojResolveAssemblyReference.cache
bytme/obj/Debug/netcoreapp2.0/bytme.dll
bytme/obj/Debug/netcoreapp2.0/bytme.pdb
bytme/obj/project.assets.json
bytme/obj/bytme.csproj.nuget.cache
bytme/obj/bytme.csproj.nuget.g.props
bytme/obj/bytme.csproj.nuget.g.targets
/wwwroot/js/materialize.min.js
/wwwroot/js/materialize.js
/wwwroot/css/materialize.min.css
/wwwroot/css/materialize.css
