@model bytme.Models.OrderHistoyModel

@inject UserManager<UserModel> userManager

@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = await userManager.GetUserAsync(User);
}

<h2><center>Checkout</center></h2>
<h3>
    <center>
    <a asp-area="Identity" asp-page="/Account/Register" style="color:#B388B8;text-decoration:none;">Register</a>
    or
    <a asp-area="Identity" asp-page="/Account/Login" style="color:#B388B8;text-decoration:none;">Login</a>
    </center>
</h3>
@if (ViewBag.total > 2.95)
{
    @if (!User.Identity.IsAuthenticated)
    {
        <center>
                <br />
                <h3><b>You can only pay with PayPal on our website</b></h3>
                <br />
                <h3><b>Data</b></h3>
                <br />
                <form method="post" style="width:50%">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <br />
                    <div class="form-group">
                        <label asp-for="name"></label>
                        <input asp-for="name" class="form-control" required/>
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="surname"></label>
                        <input asp-for="surname" class="form-control" required/>
                        <span asp-validation-for="surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" required/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="street"></label>
                        <input asp-for="street" class="form-control" required/>
                        <span asp-validation-for="street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="streetnumber"></label>
                        <input asp-for="streetnumber" class="form-control" required/>
                        <span asp-validation-for="streetnumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="zipcode"></label>
                        <input asp-for="zipcode" class="form-control" required/>
                        <span asp-validation-for="zipcode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="city"></label>
                        <input asp-for="city" class="form-control" required/>
                        <span asp-validation-for="city" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </center>
    }
    else
    {
        <h1><b><center>This page is only meant for unregisterd users!</center></b></h1>
    }
}
else
{
    <h1><b><center>Put something in your shoppingcart first!</center></b></h1>
}
