@{
    ViewData["Title"] = "General Information";
}
<h3>@ViewData["Message"]</h3>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

    <h2 style="text-align:center;">Hello fellow human, how can we help you?</h2>


<hr />

<div class="container">
    <div class="row text-center">
        <div class="col-sm-4 col-md-4 col-lg-2 col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" style="color:#8f6b93;text-decoration:none;">
                        <span class="glyphicon glyphicon-user" style="font-size:50px"></span>
                    </a><br />
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" style="color:black;text-decoration:none;">My Account</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                    <a asp-controller="Help" asp-action="Orders" style="color:#8f6b93;text-decoration:none;">
                        <span class="glyphicon glyphicon-gift" style="font-size:50px"></span>
                    </a><br />
                    <a asp-controller="Help" asp-action="Orders" style="color:black;text-decoration:none;">Orders</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                    <a asp-controller="Help" asp-action="Delivery" style="color:#8f6b93;text-decoration:none;">
                        <span class="glyphicon glyphicon-send" style="font-size:50px"></span>
                    </a><br />
                    <a asp-controller="Help" asp-action="Delivery" style="color:black;text-decoration:none;">Delivery</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                    <a asp-controller="Help" asp-action="Return" style="color:#8f6b93;text-decoration:none;">
                        <span class="glyphicon glyphicon-retweet" style="font-size:50px"></span>
                    </a><br />
                    <a asp-controller="Help" asp-action="Return" style="color:black;text-decoration:none;">Returns &amp; Refunds</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                    <a asp-controller="Help" asp-action="Payments" style="color:#8f6b93;text-decoration:none;">
                        <span class="glyphicon glyphicon-euro" style="font-size:50px"></span>
                    </a><br />
                    <a asp-controller="Help" asp-action="Payments" style="color:black;text-decoration:none;">Payments</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                    <a asp-controller="Help" asp-action="Sizing" style="color:#8f6b93;text-decoration:none;">
                        <span class="glyphicon glyphicon-tags" style="font-size:50px;"></span>
                    </a><br />
                    <a asp-controller="Help" asp-action="Sizing" style="color:black;text-decoration:none;">Sizing</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel-group" id="accordion">
        <h2>General questions</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="text-decoration:none;">Is account registration required?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Account registration at <strong>Sayos</strong> is only required if you will be buying any items. This can also be done when checking out your shopping cart.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" style="text-decoration:none;">How do I return items?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Just mark the items you are returning on the return form that came with your order, pack your items in the box, and use the enclosed return label to send back your items. Make sure to cover up or remove the original delivery barcode on the box.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" style="text-decoration:none;">When will I receive my refund?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    It can take up to <strong>14 days</strong> for your return to be fully processed. Your original payment method will be refunded. It may take 2-3 days to clear depending on your bank. The refund could appear on your account around the time of purchase or the time of refund.
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<h2>Not seeing an answer to your question?</h2>
<p>Click <a asp-area="" asp-controller="Home" asp-action="Contact" style="color:#8f6b93;text-decoration:none;">here</a> for the contact form</p>

