@{
    ViewData["Title"] = "General Information";
}
<h3>@ViewData["Message"]</h3>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h2 style="text-align:center;">Hello @UserManager.GetUserName(User), how can we help you?</h2>
}
else
{
    <h2 style="text-align:center;">Hello, how can we help you?</h2>
}

<hr />

