@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> userManager

@{
    ViewData["Title"] = "Vip";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await userManager.GetUserAsync(User);
    var one = 100 - user.points;
    var two = 500 - user.points;
    var three = 900 - user.points;
    var four = 1250 - user.points;
    var five = 1500 - user.points;
}

<style>
    li > a {
        color: black;
    }

        li > a:hover {
            color: black;
        }
</style>

<div>

    <h3>Your VIP points</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Manage/Address">Address</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Password</a></li>
                <li><a asp-controller="ShoppingCart" asp-action="OrderHistory">Order history</a></li>
                <li><a asp-controller="Vip" asp-action="Vip">VIP program</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Personal data</a></li>
            </ul>
        </div>
        @if (user.points == -1)
        {
            <h4>Join our VIP program and get access to free discounts.</h4>
            <h4>You get points by ordering products and you can use them to get free discounts.</h4>
            <h4>Because your an early user you get 50 free points if you sign up.</h4>
            <h4>It's completely free to join, so why wait!</h4>
            <div class="col-md-2">@Html.ActionLink("Join", "Join", "Vip", htmlAttributes: new { @class = "btn btn-primary btn-block" })</div>
            <hr />
            <br />
            <hr />
            <h4><a style="color:#8f6b93" asp-controller="Help" asp-action="VipProgram">click here for more info</a></h4>
        }
        else
        {
            <h4>Your points:</h4>
            <h3>@user.points</h3>
            <br />
            <h4>No shipping costs: @if (user.points < 100) { <b>&nbspjust @one more points needed</b> } else{<b>&nbsp100 points</b>}</h4>
            <h4>5% discount: @if (user.points < 500) { <b>&nbsp &nbsp &nbsp &nbsp &nbsp just @two more points needed</b> }else{<b>&nbsp &nbsp &nbsp &nbsp &nbsp 500 points</b>}</h4>
            <h4>10% discount: @if (user.points < 900) { <b>&nbsp &nbsp &nbsp &nbsp just @three more points needed</b> }else{<b>&nbsp &nbsp &nbsp &nbsp 900 points</b>}</h4>
            <h4>15% discount: @if (user.points < 1250) { <b>&nbsp &nbsp &nbsp &nbsp just @four more points needed</b> }else{<b>&nbsp &nbsp &nbsp &nbsp 1250 points</b>}</h4>
            <h4>20% discount: @if (user.points < 1500) { <b>&nbsp &nbsp &nbsp &nbsp just @five more points needed</b> }else{<b>&nbsp &nbsp &nbsp &nbsp 1500 points</b>}</h4>
            <hr />
            <br />
            <hr />
            <h4><a style="margin-left:25%; color:#8f6b93" asp-controller="Help" asp-action="VipProgram">click here for more info</a></h4>
        }
    </div>
</div>
