
@{
    ViewData["Title"] = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row text-center">
        <h2>Delivery</h2>
    </div>
</div>
<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Where is my order?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Your order will arrive within <strong>3-5 days </strong>(Monday-Saturday) after it's been placed.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How will the sending process go?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    <ol>
                        <li>Your order will be gathered together in one of our logistics centers.</li>
                        <li>Your order is taken from our logistics center to a Dutch PostNL sorting center. This is the moment you receive a shipping confirmation by e-mail with a PostNL Track &amp; Trace code.</li>
                        <li>Your order will then be sorted by PostNL on the basis of the postal codes.</li>
                        <li>Your order will be delivered by PostNL to the delivery address specified by you.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Do delivery and returns cost anything?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Our standard delivery is <strong>FREE</strong>. There is no extra charge.</p>
                    <p>All return shipping is <strong>FREE</strong> of charge.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">My parcel arrived damaged</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        We’re sorry to hear, and hope that the items you ordered arrived intact and complete.
                    </p>
                    <p>
                        If the damage only affects your parcel and you would like to return something from that order, you can use any packing material for the return. Please make sure to use the return documents we provided in the parcel - with our return label, the return is always free of charge for you.
                    </p>
                    <p>
                        Please note that we cannot provide substitutes for damaged parcels.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Why is my order split into several parcels?</a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        We know receiving your items as soon as possible is important so in some cases, ordered items that can already be shipped will be sent before the others are ready.
                    </p>
                    <p>
                        Since Partner items are shipped directly from our Partners, you will receive these items in a separate package.
                    </p>
                    <p>
                        If your desired articles will be sent by us separately, we will  inform you in advance. For each package sent, you will receive a separate shipment confirmation by e-mail with a tracking link.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


