
@{
    ViewData["Title"] = "Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row text-center">
        <h2>Returns &amp; Refunds</h2>
    </div>
</div>
<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I return items?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Just mark the items you are returning on the return form that came with your order, pack your items in the box, and use the enclosed return label to send back your items. Make sure to cover up or remove the original delivery barcode on the box.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">About our 100-day return policy</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        If you're not happy with your purchase or think your goods arrived damaged, you can send any unworn* item back to us <strong>FREE</strong> of charge within 100 days of the delivery date.
                    </p>

                    <p><strong>NOTE:</strong></p>
                    <p>
                        *Items worn purely to see if they fit are not considered worn. In the unlikely event that an item is returned to us in an unsuitable condition, we may have to send it back to you. This does not affect your statutory rights.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Do delivery and returns cost anything?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Our standard delivery is <strong>FREE</strong>. There is no extra charge.</p>
                    <p>All return shipping is <strong>FREE</strong> of charge.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">When will I receive my refund?</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>It can take up to <strong>14 days</strong> for your return to be fully processed.</p>
                    <p>Your refund will be credited to the payment method you used when purchasing the returned items. It may take 2-3 days to clear depending on your bank.</p>
                    <p>The refund could appear on your statement around the time of purchase or the time of refund.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Can I return a used item?</a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>We reserve the right to refuse a return due to damage, or upon grounds of hygiene.</p>
                    <p>If a return is refused for either of these reasons, the item will be returned to you from our warehouse and the refund will not be issued. This does not affect your statutory rights.</p>
                    <p>Items tried on to see whether they fit are not considered worn.</p>
                </div>
            </div>
        </div>
    </div>
</div>


