
@{
    ViewData["Title"] = "Sizing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row text-center">
        <h2>Sizing</h2><hr/>
        <img src="https://cdn.shopify.com/s/files/1/0239/7325/files/Size-Chart-Invert_large.jpg?14335257912478963133"/>
    </div>
</div>

